  {
    "items":[
      {
        "bold":false,
        "color":"$00999999",
        "astring":"L\/S"
      },
      {
        "bold":false,
        "color":"clFuchsia",
        "astring":"BTCUSDT"
      },
      {
        "bold":false,
        "color":"$000909FF",
        "astring":"TRADE DOWN"
      },
      {
        "bold":false,
        "color":"clLime",
        "astring":"TRADE UP"
      },
      {
        "bold":false,
        "color":"clAqua",
        "astring":"X_"
      }
    ]
  }
